body {
  margin: 0;
  overflow: hidden;
}
#notify {
  position: fixed;
  visibility: hidden;
  border-radius: 10px;
  height:30px;
  width:75%;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
  z-index: 2;
}
#version {
  position: fixed;
  visibility: visible;
  top: 0.5em;
  right: 2em;
  background-color: transparent;
  opacity: 0.75;
  z-index: 2;
}
#console {
  position: fixed;
  visibility: hidden;
  border-radius: 10px;
  bottom: 1em;
  left: 115px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  z-index: 2;
}
#canvas {
  z-index: 1;
  background-image:url('/img/bg.png');
  background-size: 5000px 5000px;
}